body {
	text-align: center;
	background-color: aqua;
}

#pong {
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	top: 50%;
	outline:  white;
	outline: 2px solid white
	
}

h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}